<!DOCTYPE html>
<html>
	<head>
	  <title>Articles</title>
	  <%= javascript_include_tag('public') %>
	</head>
	<body>
        <!-- before yeld -->
		<%= yield %>
        <!-- after yield -->
	</body>
</html>
